<html>
  <head>
    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.json-2.4.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery_csrf.js"></script>
    <script language="javascript">
      $(document).ready(function() {
        $(document).on('click','.unchecked',function(){
          $(this).removeClass("unchecked");
          $(this).addClass("checked");
          $.post("{% url 'bingo.views.togglesquare' %}",{boardsquare:$(this).attr("id")},
            function(data){
              console.log(data)
              $("#score").html(data.score + "/25");
              if (data.bingo){
                $("#bingo").html("<h1>BINGO!!!!!</h1><br>");
              }else{
                $("#bingo").html("");
              }
              if (data.checked == 0){
                $(this).removeClass("checked");
                $(this).addClass("unchecked");
              }
            }
          );
        });
        $(document).on('click','.checked',function(){
          $(this).removeClass("checked");
          $(this).addClass("unchecked");
          $.post("{% url 'bingo.views.togglesquare' %}",{boardsquare:$(this).attr("id")},
            function(data){
              $("#score").html(data.score + "/25");
              if (data.bingo){
                $("#bingo").html("<h1>BINGO!!!!!</h1><br>");
              }else{
                $("#bingo").html("");
              }
              if (data.checked == 1){
                $(this).removeClass("unchecked");
                $(this).addClass("checked");
              }
            }
          );
        });
      });
    </script>
  </head>
  <body>

  <b>{{ player.name }}</b> <br><span id="score">{{score}}/25</span><br><br>
    <div id="bingo">
{% if player.bingo %}
<h1>BINGO!!!!!</h1><br>
{% endif %}
</div>

<div style="display:table;">
  <div style="display:table-row;">
{% for square in squares %}
    <div style="display:table-cell;width:100px;height:100px;" id="{{ square.boardsquare }}" class="boardsquare {{square.classname}}">
      {{ square.text }}<br>
    </div>
{% if forloop.counter0 == 4 or forloop.counter0 == 9 or forloop.counter0 == 14 or forloop.counter0 == 19 %}
  </div>
  <div style="display:table-row;">
{% endif %}
{% endfor %}
  </div>
</div>
</body>
</html>
